<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="vh-100 container position-relative">
    <h3>Account Management</h3>
    <hr>
    <div>
        <a class="btn btn-success mb-3" th:href="@{/accounts/showCreateForm}">Create Account</a>
        <a class="btn btn-secondary mb-3 ms-2" th:href="@{/employees/list}">Back to Directory</a>
    </div>
    <table class="w-100 table table-light" border="1">
        <thead class="bg-dark">
        <tr class="text-white">
            <th>Username (email)</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/accounts/delete/{id}(id=${user.id})}" onclick="return confirm('Delete this account?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>